<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Aladdin.ClientApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    </configSections>
  <userSettings>
    <Aladdin.ClientApplication.Properties.Settings>
      <setting name="Aladdin_ClientApplication_aladdinService_StorageComponent"
        serializeAs="String">
        <value>https://193.174.152.114/axis2/services/SCDAFNI?wsdl</value>
      </setting>
      <setting name="DefaultLanguage" serializeAs="String">
        <value>el_GR</value>
      </setting>
      <setting name="UpdatesUri" serializeAs="String">
        <value>http://dev2.biomed.ntua.gr/aladdin/updates.xml</value>
      </setting>
      <setting name="OptionsLocked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ForumPage" serializeAs="String">
        <value>http://dafnis.atosorigin.es/DAFNI/Aladdin/home.php</value>
      </setting>
      <setting name="JustUpgraded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FirstInstallation" serializeAs="String">
        <value>True</value>
      </setting>
    </Aladdin.ClientApplication.Properties.Settings>
  </userSettings>
</configuration>